body {
    margin: 0;
    background: rgb(224, 234, 247);
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 20px;
    height: 60px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: #FF007F;
    color: rgb(254, 251, 245);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .logo {
    height: 100%;
}

main {
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace; 
    font-size: 20pt;
    font-weight: bolder;
    text-align: center;
}

.nametag {
    background: #FFBFDF;
    border:5px solid black; 
    color: black;
    padding-bottom: 10px;
    width: 500px;
    text-align: center;
}

.greeting {
    text-transform: uppercase;
    font-family: Georgia;
    font-size: 3em;
    font-weight: bolder;
    padding: 20px;
    margin: 0;
}

.name {
    background: white;
    color: black;
    padding: 15px 0;
    font-family: cursive;
    font-size: 2em;
}

button {
    font-family: 'Courier New', Courier, monospace; 
}